{
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "jsx-quotes": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/prop-types": "off"
  }
}